# Title
Indian Companies Initial Startup Capital Analysis

# Project Description
Team niece has been tasked to set out to understand the problem, the indian start up terrain and how best a new business will attract rom investors and propose working course of action.

# Hypothesis
### Null Hypothesis, HO
There are no exact key factors that correlate with the exact amount of funding contributed by the investors.
### AlternativeHypothesis, H1
There are exact key factors that correlate with the exact amount of funding contributed by investors.

# Questions
1. Which year has the most funding?
2. Which industry has the most funding?
3. Which industry is fastest growing in funding?
4. Which area has the most funding in India?
5. What is the average funding per year?

## Importation
Here is the section to import all the packages/libraries that will be used through this notebook.

In [1]:
# Data handling
import pandas as pd
import numpy as np

# Vizualisation (Matplotlib, Plotly, Seaborn, etc. )
import seaborn as sns
import matplotlib as plt

# EDA (pandas-profiling, etc. )
...

# Feature Processing (Scikit-learn processing, etc. )
...

# Machine Learning (Scikit-learn Estimators, Catboost, LightGBM, etc. )
...

# Hyperparameters Fine-tuning (Scikit-learn hp search, cross-validation, etc. )
...

# Other packages

Ellipsis

# Data Loading
Here is the section to load the datasets (train, eval, test) and the additional files

In [2]:
sheet1=pd.read_csv("startup_funding2018.csv")
sheet2=pd.read_csv("startup_funding2019.csv")
sheet3=pd.read_csv("startup_funding2020.csv")
sheet4=pd.read_csv("startup_funding2021.csv")

# Exploratory Data Analysis: EDA
Here is the section to **inspect** the datasets in depth, **present** it, make **hypotheses** and **think** the *cleaning, processing and features creation*.

## Dataset overview

Have a look at the loaded datsets using the following methods: `.head(), .info()`

In [3]:
#checking the shape of each file
print(sheet1.shape,sheet2.shape,sheet3.shape,sheet4.shape)

(526, 6) (89, 9) (1055, 10) (1209, 9)

In [4]:
sheet1.head(2)

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...

In [5]:
sheet2.head(2)

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C

In [6]:
sheet3.head(2)

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage,Unnamed: 9
0,Aqgromalin,2019,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,"$200,000",NaN,NaN
1,Krayonnz,2019,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,"$100,000",Pre-seed,NaN

In [7]:
sheet4.head(2)

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",NaN

## Issues with the data
1. column names of sheet1 are different from the others
2. sheet3 has an unnecessary column('Unnamed: 9')
3. sheet1 doesn't have columns Founders,Investor and Founded.
4. sheet1 amount column has rupees, dollars, commas and is a string
5. amount column of other sheets have dollars, commas and is a string

## How we intend to handle each issue identified
1. change column names of sheet1 to match the others
2. drop unnecessary column in sheet3
3. add missing columns to sheet1 with null values
4. convert sheet1 amount column to dollars in float
5. convert amount of other sheets to dollars in float

## Data Cleaning

1. change column names of sheet1 to match the others

In [8]:
#changing column names
sheet1.rename(columns = {'Company Name':'Company/Brand', 'Industry':'Sector',
                              'Round/Series':'Stage', 'Amount':'Amount($)',
                        'Location':'HeadQuarter', 'About Company':'What it does'}, inplace = True)

2. drop unnecessary column in sheet3

In [9]:
sheet3.drop(columns=['Unnamed: 9'], axis=1, inplace = True)

3. add missing columns to sheet1 with null values

In [10]:
sheet1["Founded"] = np.nan
sheet1["Founders"] = np.nan
sheet1["Investor"] = np.nan

4. convert sheet1 amount column to dollars in float

In [11]:
def amountCleaner(sheet):
    sheet['Amount($)'] = sheet['Amount($)']. apply(lambda x: str(x).replace('—','NaN').replace(',','').replace('$',''))

amountCleaner(sheet1)

#convert rupees to dollars if it has rupees sign
sheet1['Amount($)'] = sheet1['Amount($)'].apply(
    lambda x: float(str(x).replace('₹',''))*0.012 if '₹' in x
else x)

5. convert amount of other sheets to dollars in float

In [12]:
amountCleaner(sheet2)
amountCleaner(sheet3)
amountCleaner(sheet4)

In [16]:
sheet2.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,6300000,NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,150000000,Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey",28000000,Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...",30000000,Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),6000000,NaN