# Title
Indian Companies Initial Startup Capital Analysis

# Project Description
Team niece has been tasked to set out to understand the problem, the indian start up terrain and how best a new business will attract rom investors and propose working course of action.

# Hypothesis
### Null Hypothesis, HO
There are no exact key factors that correlate with the exact amount of funding contributed by the investors.
### AlternativeHypothesis, H1
There are exact key factors that correlate with the exact amount of funding contributed by investors.

# Questions
1. Which year has the most funding?
2. Which industry has the most funding?
3. Which industry is fastest growing in funding?
4. Which area has the most funding in India?
5. What is the average funding per year?

## Importation
Here is the section to import all the packages/libraries that will be used through this notebook.

In [1]:
# Data handling
import pandas as pd
import numpy as np

# Vizualisation (Matplotlib, Plotly, Seaborn, etc. )
import seaborn as sns
import matplotlib as plt

# EDA (pandas-profiling, etc. )
...

# Feature Processing (Scikit-learn processing, etc. )
...

# Machine Learning (Scikit-learn Estimators, Catboost, LightGBM, etc. )
...

# Hyperparameters Fine-tuning (Scikit-learn hp search, cross-validation, etc. )
...

# Other packages

Ellipsis

# Data Loading
Here is the section to load the datasets (train, eval, test) and the additional files

In [2]:
sheet1=pd.read_csv("startup_funding2018.csv")
sheet2=pd.read_csv("startup_funding2019.csv")
sheet3=pd.read_csv("startup_funding2020.csv")
sheet4=pd.read_csv("startup_funding2021.csv")

# Exploratory Data Analysis: EDA
Here is the section to **inspect** the datasets in depth, **present** it, make **hypotheses** and **think** the *cleaning, processing and features creation*.

## Dataset overview

Have a look at the loaded datsets using the following methods: `.head(), .info()`

In [3]:
#checking the shape of each file
print(sheet1.shape,sheet2.shape,sheet3.shape,sheet4.shape)

(526, 6) (89, 9) (1055, 10) (1209, 9)

In [4]:
sheet1.head(2)

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...

In [5]:
sheet2.head(2)

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C

In [6]:
sheet3.head(2)

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage,Unnamed: 9
0,Aqgromalin,2019,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,"$200,000",NaN,NaN
1,Krayonnz,2019,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,"$100,000",Pre-seed,NaN

In [7]:
sheet4.head(2)

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",NaN

## Data Cleaning

In [8]:
#changing column names
sheet1.rename(columns = {'Company Name':'Company/Brand', 'Industry':'Sector',
                              'Round/Series':'Stage', 'Amount':'Amount($)',
                        'Location':'HeadQuarter', 'About Company':'What it does'}, inplace = True)

In [9]:
#delete unnecessary columns and add empty ones with null values
sheet3.drop(columns=['Unnamed: 9'], axis=1, inplace = True)
sheet1["Founded"] = np.nan
sheet1["Founders"] = np.nan
sheet1["Investor"] = np.nan

In [10]:
print(sheet1.shape,sheet2.shape,sheet3.shape,sheet4.shape)

(526, 9) (89, 9) (1055, 9) (1209, 9)

In [11]:
sheet1.head()

,Company/Brand,Sector,Stage,Amount($),HeadQuarter,What it does,Founded,Founders,Investor
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",NaN,NaN,NaN
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,NaN,NaN,NaN
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,NaN,NaN,NaN
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,NaN,NaN,NaN
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,NaN,NaN,NaN

In [12]:
sheet2.head(1)

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN

In [13]:
sheet3.head(1)

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Aqgromalin,2019,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,"$200,000",NaN

In [14]:
sheet4.head(1)

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A

In [21]:
#calculating the amount column for 2018
sheet1['Amount($)'] = sheet1['Amount($)']. apply(lambda x: str(x).replace('—','NaN'))
sheet1['Amount($)'] = sheet1['Amount($)']. apply(lambda x: str(x).replace(',',''))
sheet1['Amount($)'] = sheet1['Amount($)']. apply(lambda x: str(x).replace('$',''))

#sheet1['Amount($)'].str.contains('$').any()
#sheet1['Amount($)'] = sheet1['Amount($)'].apply(lambda x: 'Match' if x == 'Bill' else 'Mismatch')

sheet1['Amount($)'] = sheet1['Amount($)'].apply(
#     # lambda x: x*10 if x<2 
#     # else (x**2 if x<4 
#     # else x+10)
    lambda x: float(str(x).replace('₹',''))*0.012 if sheet1['Amount($)'].str.contains('₹').any()
    else x) 

# sheet1[['Amount($)']].style.applymap(lambda x: 'background-color : yellow' if '₹' in x else '')
# def highlight_rows(row):
#     value = row.loc['Amount($)']
#     if '₹' in value:
#         color = '#FFB3BA' # Red
#     return 'background-color: {}'.format(color)


# sheet1.style.apply(highlight_rows, axis=1)

#df.loc[df['set_of_numbers'] <= 4, 'equal_or_lower_than_4?'] = 'True' 
#sheet1.loc[sheet1['Amount($)'].str.contains('₹').any(), 'Amount($)'] =  

#sheet1['Amount($)'] = sheet1['Amount($)']. apply(lambda x: str(x).replace('₹',''))

In [23]:
sheet1.head(120)

,Company/Brand,Sector,Stage,Amount($),HeadQuarter,What it does,Founded,Founders,Investor
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,3000.0,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",NaN,NaN,NaN
1,Happy Cow Dairy,"Agriculture, Farming",Seed,480000.0,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,NaN,NaN,NaN
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,780000.0,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,NaN,NaN,NaN
3,PayMe India,"Financial Services, FinTech",Angel,24000.0,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,NaN,NaN,NaN
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,NaN,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
115,Satin Creditcare Network Limited (SCNL),"Banking, Finance, Financial Services, Non Profit",Post-IPO Debt,360000.0,"New Delhi, Delhi, India",Satin is a non-banking finance company providi...,NaN,NaN,NaN
116,APAC Financial Services,"Finance, Financial Services",Private Equity,30000000.0,"Mumbai, Maharashtra, India",APAC Financial Services is a financial service...,NaN,NaN,NaN
117,Moglix,"B2B, E-Commerce, Mobile",Series C,276000.0,"Noida, Uttar Pradesh, India",Moglix is a supplier of industrial tools like ...,NaN,NaN,NaN
118,SEDEMAC Mechatronics,"Automotive, Electric Vehicle, Renewable Energy",Venture - Series Unknown,NaN,"Mumbai, Maharashtra, India",SEDEMAC Mechatronics is technology company tha...,NaN,NaN,NaN
119,MadGuy Labs,E-Learning,Venture - Series Unknown,1800.0,"Hyderabad, Andhra Pradesh, India",MadGuy Labs is a Online Test-prep Platform.,NaN,NaN,NaN